.ipynb_checkpoints
.python-version
.vscode
dataset/flowers
*.png
*.jpg
__pycache__
.DS_Store
*.prm
*.pth
events.out.tfevents.*
wandb
wandb_result
.mypy_cache
.coverage*
!tests/sample/*.jpg
.pytest_cache
!src/imgs/*.png
*.out
*.o*
*txt
*json